.button2{
 position: relative;
  display: inline-block;
  padding: 0.1em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #ff69b4;/*背景色*/
  border-bottom: solid 2px #ff69b4;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  cursor: pointer;

}

.button3{
  position: relative;
  display: inline-block;
  padding: 0.35em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  cursor: pointer;
}
#flush_iine {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: white;
    background-color:#fd9535;
}
#flush_iine_delete {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: white;
    background-color:#ff69b4;
}
.user_name{
    color:black;
    display: inline-block;

}
h2{
    display:block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 15px;

}